
/* minimal styles for that navi */
.rmm {margin: 0 auto; font-size: 18px; font-family: 'Titillium Web', sans-serif;}
.rmm * {outline: none }
.rmm ul {margin: 0; padding:0; list-style: none; position: relative; width: 100%;}
.rmm ul:after {content: ""; clear: both; display: block;}
.rmm ul li {float: left; width: 100%; font-weight: 700;}
.rmm > ul > li > a {text-transform: uppercase; font-size: 20px;}
.rmm ul li:hover {}
.rmm ul li:hover ul {display: block; position: relative;}
.rmm ul li:hover a{color: #fff;}
.rmm ul li a {display: block; text-decoration: none;}
.rmm ul ul {display: none; margin:0; padding: 0 0 15px 30px; position: absolute; top: 100%;}
.rmm ul ul li {float: none; position: relative;  font-weight: 400;}
.rmm ul ul li a{color: #fff;}
.rmm > ul > li > ul > li > a {font-weight: bold;}
.rmm ul ul li a:hover {}
.rmm ul ul ul {display: block; position: relative; left: 0; top:0; width: 100%;}

/* mobile menu header button */
.rmm-toggled {width: 100%; background-color: #555555; min-height: 50px; margin: 0 auto; display: none;}
.rmm-closed ~ .rmm-mobile {display: none!important;}
.rmm-toggled-controls{width: 100%;}
.rmm-toggled-title{width: 60%; float: left; font-size: 27px; color: #fff; font-weight:600; display: block; padding: 8px 0; text-decoration: none; text-transform: uppercase; text-align: left; padding-left: 35px;}
.rmm-toggled-button{width: 20%; float: left; margin-top: 3px;
	display:block;
	width: 32px;
	padding:0 !important;
	margin:10px 10px 0 0;
	border:1px solid #fff;
	border-radius:3px;
	float: right;
}
.rmm-toggled-button span{float: left; display:block; margin: 3px 6px; height: 3px; background:white; width:20px;}

/* normalny back button visible only on mobiles  */
.rmm .rmm-back{display: none; font-size: 12px;}
.rmm .rmm-back:after {display: none;}
.rmm .rmm-back a:after {
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\e000";
	position: relative;
	display: inline-block;
	-webkit-transform: rotate(-60deg);
	transform: rotate(-60deg);
	top: 1px;
	right: -2px ;
	float: left;
	font-size: 10px;
}
.rmm-mobile .rmm-back{display: block;}

/* mobile menu list */
.rmm-mobile{width: 100%;}
.rmm-mobile .rmm-dropdown:hover ~ ul, .rmm-mobile .rmm-dropdown:hover > ul ,.rmm-mobile .rmm-dropdown:hover + ul {display: none!important;}
.rmm-mobile ul{width: 100%; position: inherit!important;}
.rmm-mobile li{width: 100%; }

/* mobile menu js action */
.rmm-dropdown{display: block!important;}
.rmm-mobile .rmm-subview{display: block!important; width: 100%;}
.rmm-mobile .rmm-subover-hidden{display: none!important;}
.rmm-mobile .rmm-subover-visible{display: block;}
.rmm-mobile .rmm-subover-header{display: none!important; padding: 0; margin: 0;}

/* mobile menu content */
.rmm-mobile .rmm-submenu{position: relative; left: 0px;}

.rmm .rmm-mobile li:hover > ul {display: none;}
