@media (max-width: 480px) {
	.banner h2 {
        font-size: 1rem;
        margin-top: 1rem;
    }
}

@media (min-width: 992px) {
	.banner h1 {font-size: 6vw;}
}

@media (min-width: 1120px) {
	.banner h1 {font-size: 5vw;}
}

@media (min-width: 1400px) {
	.banner-home {
		padding-top: 30.5vh;
	}
	.banner h1 {font-size: 4.5vw;}
}

@media (min-width: 1900px) {
	.banner h1 {font-size: 79px;}
}

.border-underline {
    border-top:  #00834e 2px solid; 
}

.location-data-wrapper {
    margin-top: -120px;
}

/************************ SLIDES *************************/

.slide-wrapper{
    width:100%;
    box-sizing: border-box;
  }

.slide-container{
    width: 100%;
    margin:0px auto;
  }
  
.slick-slide{
    margin-bottom: 80px;
}

@media (max-width: 577px) {
    .slick-slide .container {
        max-width: 80vw;
    }
}


.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    z-index: 99;
    display: block;
    width: 10%;
    height: 100%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    color: transparent;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
     outline: 0px;
}

@media (min-width: 1400px) {
	.slick-prev,
    .slick-next {width: 20%;}
}

.slick-next {
    right: 0;
    text-align: right;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );    
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: 0px;
}

.slick-prev:hover {
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.slick-next:hover {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );    
}

.slick-prev:before,
.slick-next:before{
    font-family: 'FontAwesome';
    display: block;
    font-size: 6vw;
    color: #00834e;
    width: 100%;
    text-align: center;
    margin-top: -3vw;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
}

.slick-prev:before {
    content: "\f104"; 
}

.slick-next:before {
    content: "\f105"; 
}

.slick-prev:hover:before {
    padding-right: 1rem;
}

.slick-next:hover:before {
    padding-left: 1rem;
}


.slick-dots {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    background: url(images/bg-sidebar-shadowed.png) no-repeat center top;
    padding: 0;
    vertical-align: top;
}


.slick-dots li {
    position: relative;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-top:  #c5c5c5 4px solid;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
     padding-top: 4px;
}


@media (min-width: 360px) {
	.slick-dots li {width: 100px;}
}

.slick-dots li.slick-active {
    border-top:  #00834e 8px solid; 
    padding-top: 0px;
}

.slick-dots li button {
    line-height: 1.2rem;
    display: block;
    width: 100%;
    height: 0px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    display: block;
    position: absolute;
    z-index: 3;
    opacity: 1;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    min-height: 60px;
    text-align: center;
    font-weight: bold;
    white-space: pre;
    color: #c5c5c5;
    padding-top: 10px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
}

.slick-dots li:hover button:before,
.slick-dots li.slick-active button:before {
    opacity: 1;
    color:#424242;
}

.slick-dots li:nth-child(1) button:before {
    content: "Double & \A Tripple-Pane";
}

.slick-dots li:nth-child(2) button:before {
    content: "Low-E \A Coating";
}

.slick-dots li:nth-child(3) button:before {
    content: "Noise \A Reduction";
}




.bg-custom-windows {
    background-image: url(images/custom-windows.jpg);
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
}

.bg-financing {
    background-image: url(https://www.ecolinewindows.ca/wp-content/uploads/spring-windows.jpg);
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
}

.shadowed {
    border-top: #00834e 3px solid;
    border-radius: 3px;
}

.shadowed .fa-stack {
    position: absolute;
    top: -1.2rem;
    left: -0.4rem;
    z-index: 3;
    display: block;
}

.door-cat {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

@media (min-width: 992px) {
	.overlapped-left {margin-left: -10rem;}
    .overlapped-right {margin-right: -25vw;}
    .shadowed {
        z-index: 2;
        position: relative;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border: #00834e 3px solid;
        -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
        -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
        box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    }
    .shadowed .fa-stack {
        top: -1.3rem;
        left: -1.3rem;
    }
    .door-cat {
        min-height: 480px;
    }
}


#doors-section h4 {
    background: #fff;
    float: left;
    padding: 2rem;
}