/*
Promo changes:
- Update H1 in /inc/baner-home.php 
- Remove H2 from Form pages
- Change content in Homepage Banner Ribbon widget
- Replace bg-sidebar-flip.png
- Edit sibar-contacts.php
*/


#header-ribbon {
	width: 100%;
	height: auto;
	text-align: center;
	line-height: 1rem;
	background: transparent;
	margin: 0 auto;
	font-weight: 500;
	color: #fff;	
}


#header-ribbon h3 {
	font-weight: 700;
	font-size: 6.8vw;
	text-transform: uppercase;
	line-height: 100%;
	margin-bottom: 2.5rem;
}

#header-ribbon h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-weight: 600;
}

@media(min-width: 480px) {

}

@media(min-width: 576px) {
	#header-ribbon h3 {
		font-size: 5.7vw;
	}
}

@media(min-width: 768px) {
	#header-ribbon h3 {
		font-size: 3.5vw;
	}
}

@media(min-width: 1940px) {
	#header-ribbon h3 {
		font-size: 92px;
	}
}
