/*
Theme Name: EcolineWindows
Theme URI: http://www.ecolinewindows.ca
Author: ZippyHippo
Author URI: http://www.zippyhippo.com
Description: EcolineWindows Theme
Version: 2.0.0
Text Domain: ecolinewindows 
*/


@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('fonts/titillium-web/titillium-web-v7-latin-regular.eot');
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
  url('fonts/titillium-web/titillium-web-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/titillium-web/titillium-web-v7-latin-regular.woff2') format('woff2'),
  url('fonts/titillium-web/titillium-web-v7-latin-regular.woff') format('woff'),
  url('fonts/titillium-web/titillium-web-v7-latin-regular.ttf') format('truetype'),
  url('fonts/titillium-web/titillium-web-v7-latin-regular.svg#TitilliumWeb') format('svg');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url('fonts/titillium-web/titillium-web-v7-latin-italic.eot');
  src: local('Titillium Web Italic'), local('TitilliumWeb-Italic'),
  url('fonts/titillium-web/titillium-web-v7-latin-italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/titillium-web/titillium-web-v7-latin-italic.woff2') format('woff2'),
  url('fonts/titillium-web/titillium-web-v7-latin-italic.woff') format('woff'),
  url('fonts/titillium-web/titillium-web-v7-latin-italic.ttf') format('truetype'),
  url('fonts/titillium-web/titillium-web-v7-latin-italic.svg#TitilliumWeb') format('svg');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/titillium-web/titillium-web-v7-latin-600.eot');
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
  url('fonts/titillium-web/titillium-web-v7-latin-600.eot?#iefix') format('embedded-opentype'),
  url('fonts/titillium-web/titillium-web-v7-latin-600.woff2') format('woff2'),
  url('fonts/titillium-web/titillium-web-v7-latin-600.woff') format('woff'),
  url('fonts/titillium-web/titillium-web-v7-latin-600.ttf') format('truetype'),
  url('fonts/titillium-web/titillium-web-v7-latin-600.svg#TitilliumWeb') format('svg');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('fonts/titillium-web/titillium-web-v7-latin-700.eot');
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
  url('fonts/titillium-web/titillium-web-v7-latin-700.eot?#iefix') format('embedded-opentype'),
  url('fonts/titillium-web/titillium-web-v7-latin-700.woff2') format('woff2'),
  url('fonts/titillium-web/titillium-web-v7-latin-700.woff') format('woff'),
  url('fonts/titillium-web/titillium-web-v7-latin-700.ttf') format('truetype'),
  url('fonts/titillium-web/titillium-web-v7-latin-700.svg#TitilliumWeb') format('svg');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url('fonts/titillium-web/titillium-web-v7-latin-700italic.eot');
  src: local('Titillium Web Bold Italic'), local('TitilliumWeb-BoldItalic'),
  url('fonts/titillium-web/titillium-web-v7-latin-700italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/titillium-web/titillium-web-v7-latin-700italic.woff2') format('woff2'),
  url('fonts/titillium-web/titillium-web-v7-latin-700italic.woff') format('woff'),
  url('fonts/titillium-web/titillium-web-v7-latin-700italic.ttf') format('truetype'),
  url('fonts/titillium-web/titillium-web-v7-latin-700italic.svg#TitilliumWeb') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src:url('fonts/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src:url('fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('fonts/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  url('fonts/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  url('fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  url('fonts/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

body,
input,
textarea,
.eco-company .list-group-text {
	font-family: 'Titillium Web', sans-serif;
	color: #424242;
}

.mobile-site {
	padding-top: 3rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	word-break: normal;
	word-wrap: break-word;
	font-weight: 400;
	font-family: 'Titillium Web', sans-serif;
}

h1 {font-weight: 700; }

/*** BEGIN BANNER ***/

.banner-location {
	padding-top: 160px; 
	padding-bottom: 30px; 
}

@media (max-width: 767px) {
	.eco-section {
		padding-top: 60px;
		padding-bottom: 120px; 
	}
}

.banner-home h2 {font-weight: 700;}
.banner-home p {
    color: #fff; 
    position: relative;
}

@media (max-width: 480px) {
	.banner-home h3 {
        font-size: 1rem;
        margin-top: 1rem;
        font-weight: 400;
    }
}

@media (min-width: 992px) {
	.banner h1,
	.banner-home h2 {font-size: 6vw;}
}

@media (min-width: 1120px) {
	.banner h1,
	.banner-home h2 {font-size: 5vw;}
}

@media (min-width: 1400px) {
	.banner-home {
		padding-top: 30.5vh;
	}
	.banner h1,
	.banner-home h2 {font-size: 4.5vw;}
}

@media (min-width: 1900px) {
	.banner h1,
	.banner-home h2 {font-size: 64px;}
}

/*** END BANNER ***/

#page-internal h1 {	font-size: 4rem;}

@media (min-width: 992px) {
	#page-internal h1 {	font-size: 3vw;}
}

@media (min-width: 1400px) {
	#page-internal h1 {	font-size: 4vw;}
}

#page-internal .banner-location h1 {
	font-size: 3.5rem;
}

@media (max-width: 1199px) {
	#page-internal .banner-location h1 {
		font-size: 3rem;
	}
}

#blog-body h2,
#blog-body h3,
#blog-body h4 {
	margin-top: 2rem;
}

#blog-body img {
	margin-top: 1.2rem;
	margin-bottom: 1.5rem;
}

@media (max-width: 575px) {
	h1,
	#page-internal h1 {	font-size: 2rem;}
}
@media (max-width: 767px) {}
@media (max-width: 991px) {}
@media (max-width: 1199px) {}
  
.hidden  {visibility: hidden; }
.visible {visibility: visible; }

input, textarea	{font-family: 'Titillium Web', sans-serif; }

input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
	transition-delay: 9999s;
	transition-property: background-color, color; 
}

a,
a:link,
a:active  {
    color: #00834e;
}

a:focus,
a:hover,
a:visited {
    color: #007646;
}

.text-bold,
strong {font-weight: 700;}
				  
.font-secondary,
.text-secondary {font-family: 'Titillium Web', sans-serif;}
.text-20px 		{font-size: 1.25rem;}
.text-24px 		{font-size: 1.5rem;}
.text-32px 		{font-size: 2rem;} 
.text-1rem 		{font-size: 1rem;} 
.text-2rem 		{font-size: 2rem;} 
.text-3rem 		{font-size: 3rem;}
.fa.text-4rem,
.text-4rem 		{font-size: 4rem;} 
.text-5rem 		{font-size: 5rem;} 
.fa.text-6rem,
.text-6rem 		{font-size: 6rem;} 

.text-green,
.text-primary	{color: #00834e !important;}
.text-success 	{color: #00834e !important;}
.text-info 		{color: #00834e !important;}
.text-warning 	{color: #f3c649 !important;}
.text-danger 	{color: #f28281 !important;}
.text-white 		{color: #fff !important;}
.text-grey 		{color: #424242 !important;}
.text-google 	{color: #c03c30;}
.text-facebook	{color: #3b5998;}

.alert-success 	{background-color: #00834e;}
.alert-info 		{background-color: #00834e;}
.alert-warning 	{background-color: #f3c649;}
.alert-danger 	{background-color: #f28281;}

.btn-social,
.btn-outline-primary 		{border-color: #00834e;}

.btn-outline-primary:hover,
.btn-social:hover {background: #007646;}

.btn-outline-primary:hover {border-color: #007646;}

a.btn-outline-light 	{color: #fff;}

.bg-fixed 		{background-attachment: fixed; }

.bg-white	 	{background-color: #fff !important;}
.bg-white-semi-transparent	 	{background-color: rgba(255,255,255,0.9); }
.bg-green,
.bg-primary	 	{background-color: #00834e !important;}
.bg-grey	 	{background-color: #424242 !important;}
.bg-grey-light	{background-color: #f4f4f4;}
.bg-success	 	{background-color: #00834e !important;}
.bg-info 		{background-color: #00834e !important;}
.bg-warning 	{background-color: #f3c649 !important;}
.bg-danger 		{background-color: #f28281 !important;}
.bg-none 		{background: none !important; }

.margin-no			{margin: 0px;}
.margin-top--30px	{margin-top: -30px;}
.margin-top--45px	{margin-top: -45px;}
.margin-top--60px	{margin-top: -60px;}
.margin-top-30px	{margin-top: 30px;}
.margin-top-45px	{margin-top: 45px;}
.margin-top-60px	{margin-top: 60px;}

.margin-bottom--30px	{margin-bottom: -30px;}
.margin-bottom--45px	{margin-bottom: -45px;}
.margin-bottom--60px	{margin-bottom: -60px;}
.margin-bottom--120px	{margin-bottom: -120px;}
.margin-bottom-30px		{margin-bottom: 30px;}
.margin-bottom-45px		{margin-bottom: 45px;}
.margin-bottom-60px		{margin-bottom: 60px;}

.margin-top--1rem	{margin-top: -1rem;}
.margin-top--2rem	{margin-top: -2rem;}
.margin-top--3rem	{margin-top: -3rem;}
.margin-top--4rem	{margin-top: -4rem;}
.margin-top-1rem	{margin-top: 1rem;}
.margin-top-2rem	{margin-top: 2rem;}
.margin-top-3rem	{margin-top: 3rem;}
.margin-top-4rem	{margin-top: 4rem;}

.margin-bottom--1rem	{margin-bottom: -1rem;}
.margin-bottom--2rem	{margin-bottom: -2rem;}
.margin-bottom--3rem	{margin-bottom: -3rem;}
.margin-bottom--4rem	{margin-bottom: -4rem;}
.margin-bottom-1rem	{margin-bottom: 1rem;}
.margin-bottom-2rem	{margin-bottom: 2rem;}
.margin-bottom-3rem	{margin-bottom: 3rem;}
.margin-bottom-4rem	{margin-bottom: 4rem;}


.padding-top-1rem	{padding-top: 1rem;}
.padding-top-2rem	{padding-top: 2rem;}
.padding-top-3rem	{padding-top: 3rem;}
.padding-top-4rem	{padding-top: 4rem;}
.padding-bottom-1rem	{padding-bottom: 1rem;}
.padding-bottom-2rem	{padding-bottom: 2rem;}
.padding-bottom-3rem	{padding-bottom: 3rem;}
.padding-bottom-4rem	{padding-bottom: 4rem;}

.inline {display: inline-block;}

.abovelined {
	text-transform: uppercase;	
	padding-top: 15px;
	font-size: 0.8rem;
}
.abovelined span {
	padding-top: 15px;
	border-top: #00834e 2px solid;
	min-width: 120px;
	display: inline-block;
}

.border-underline {
    border-top:  #00834e 2px solid; 
}

#tinymce {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.btn {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	line-height: 1.5;
	border-radius: 3px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-transform: uppercase;
}

.btn .fa {margin-right: 0.5rem;}
  
.btn-white {
  background-color: #fff;
  border-color: #fff;
  box-shadow: none;
  color: #535353; }
  .btn-white:hover {
    color: #fff;
    background-color: #d4d4d4;
    border-color: #d4d4d4;
    box-shadow: none; }
  .btn-white:focus, .btn-white.focus {
    color: #fff;
    background-color: #d4d4d4;
    border-color: #d4d4d4; }
  .btn-white:active, .btn-white.active {
    color: #fff;
    background-color: #d4d4d4;
    border-color: #d4d4d4;
    background-image: none;
    box-shadow: none; }
  .btn-white.disabled, .btn-white:disabled {
    color: #fff !important;
    background-color: #d4d4d4 !important;
    border-color: #d4d4d4 !important;
    opacity: 0.85; }


.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  color: #232323; }
  .btn-social i {
    top: 0;
    line-height: 44px;
    width: 44px; }
  .btn-social:hover {
    color: #fff;
    background: #c0a375; }
  .btn-social + .btn {
    margin-left: 0.1rem; }

	
.btn-primary,
a.btn-primary {
  color: #ffffff;
  background-color: #00834e;
  border-color: #256d24;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active, 
.btn-primary:active, 
.show > .btn-primary.dropdown-toggle {
	background: #007646;
	border-color: #007646;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
}

.btn-link:hover,
.btn-link:focus {
	color: #007646;
}

.btn-secondary,
a.btn-secondary {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #00834e;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
	background-color: #ddd;
  border-color: #ddd;
  color: #007646;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1b551b !important;
  border-color: #1b551b !important;
}
.btn-info {
  background-color: #00834e;
  border-color: #00834e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #1b551b;
  border-color: #1b551b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #1b551b !important;
  border-color: #1b551b !important;
}
.btn-success {
  background-color: #00834e;
  border-color: #00834e;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #007646;
  border-color: #007646;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1b551b !important;
  border-color: #1b551b !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}

.btn-loader {
  -webkit-animation: btnCircleLoading .6s infinite linear;
  animation: btnCircleLoading .6s infinite linear;
  border-radius: 50%;
  border: 4px rgba(255, 255, 255, 0.25) solid;
  border-top-color: white;
  display: none;
  height: 26px;
  left: 50%;
  margin-left: -13px;
  margin-top: -13px;
  position: absolute;
  top: 50%;
  width: 26px; }

.btn-loading {
  position: relative; }
  .btn-loading .btn-text {
    visibility: hidden; }
  .btn-loading .btn-loader {
	display: block; }
	
.btn-label {
	z-index: 2;
	right: 0;
	margin-top: -3.5rem;
}
	
.margin-no .btn{
	margin: 0;
}	

p.lead,
.lead p {
  font-size: 1.07rem;
  font-weight: 400;
  margin-bottom: 2.3125rem; }

.article .lead p, .article .lead ul, .article .lead ol, .article .lead pre, .article .lead blockquote {
	margin-bottom: 0; 
}

.content-overlapper {
	background: #fff; 
	margin-top: -4rem; 
	padding-top: 30px; 
	padding-left: 30px; 
	padding-right: 30px; 
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

@media (max-width: 767px) {
	.content-overlapper {
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	.overlapped-left {margin-left: -10rem;}
    .overlapped-right {margin-right: -25vw;}
}

.modal-backdrop {
  background: -webkit-linear-gradient(left, #564740, #3a414a);
  background: -moz-linear-gradient(left, #564740, #3a414a);
  background: -o-linear-gradient(left, #564740, #3a414a);
  background: -ms-linear-gradient(left, #564740, #3a414a);
  background: linear-gradient(left, #564740, #3a414a);
  opacity: 0.94; }

.form-control {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: none;
  color: #565656;
  font-size: 0.875rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 0.5em 1.07em 0.5em; }
  .form-control, .form-control:focus {
    border: 1px solid #e8e8e8; }
  .form-active .form-control:invalid {
    border-color: #f28281; }

@media (min-width: 1200px) {
	.container-spacer {
		margin-left: 10%;
		margin-right: 10%;
	}
	#pricing-page .container-spacer {
		margin-left: 0%;
		margin-right: 0%;
	}
}

@media (min-width: 1446px) {
	#pricing-page .container-spacer {
		margin-left: 10%;
		margin-right: 10%;
	}
}

.form-control-label {
  cursor: pointer;
  font-size: 0.875rem;
  margin-bottom: 0.357em;
  padding: 0; 
}


table.table-details {
	background: #ececec;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

table.table-details .row {
	margin: 1rem;
}

p.label-step {
	color: #ccc;
	background: #e2e2e2;
	line-height: 200%;
	margin-top: 2rem;
	margin-bottom: 0;
	padding: 0.5rem 2rem;
	font-weight: 700;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

p.label-step strong {
	background: #ccc;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 6px;
	line-height: 200%;
	border-radius: 2px;
	clear: both;
}

p.active-step {
	color: #424242;
}

p.active-step strong {
	background: #00834e;
	color: #fff;
}

@media (max-width: 992px) {
	p.label-step strong {
		clear: both;
		display: block;
		background: transparent;
		color: #ccc;
		border-bottom: #ccc 3px solid;
		border-radius: 0px;
		font-size: 36px;
		line-height: 140%;
		letter-spacing: -1px;
	}
	p.active-step strong {
		color: #00834e;
		border-bottom: #00834e 3px solid;
	}
}

.button-hint {
	cursor: pointer;
	padding: 0 10px;
	border: 0;
	background: transparent;
	margin: 0;
	outline: 0;
}

.label-option {
	display: block;
	font-size: 80%;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	border: #ccc 2px solid;
	text-align: center;
	padding: 10px 6px;
	line-height: 100%;
	border-radius: 4px;
	background: #fff;
}

.label-option input {
	display: none;
}

.label-option img {
	margin-bottom: 6px;
}

.label-option-selected {
	color: #00834e;
	border: #00834e 2px solid;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(36,119,35,0.2);
	-moz-box-shadow: 	0px 0px 5px 3px rgba(36,119,35,0.2);
	box-shadow: 		0px 0px 5px 3px rgba(36,119,35,0.2);
}

.sticky {
	position: sticky;
	top: 4rem;
}

.total-wrapper {
	border-left: #00834e 3px solid;
	background: #ececec;
	border-radius: 4px;
	padding: 1rem 2rem 0.6rem 2rem;
	font-family: 'Titillium Web', sans-serif;
	line-height: 180%;
	width: 100%;
	margin-top: 2rem;
}

.total-wrapper::before{
		position: absolute;
		top: 2.4rem;
		left: -11px;
		content: "\f0d9";
		font-family: "FontAwesome";
		color: #00834e;
		font-size: 30px;
}

.total-wrapper strong {
	color: #00834e;
	font-size: 2.4rem;
	letter-spacing: -1px;
}

@media (max-width: 992px) {
	.tall {
		top: 20px;
		left: 0px;
		z-index: 1049;
		position: fixed;
		padding: 0;
	  
	}
	.total-wrapper {
		
		border-left: 0;
		background: #00834e;
		color: #fff;
		border-radius: 0;
		padding: 15px 5px;
		font-family: 'Titillium Web', sans-serif;
		line-height: 160%;
		width: 100%;
		
	}

	.total-wrapper::before{
		display: none;
	}
	.total-wrapper strong {
		color: #fff;
		font-size: 2.4rem;
		letter-spacing: -1px;
	}
}

/********* Configurator *************/

.filter-label {
	font-size: 0.7rem;	
	font-family: 'Titillium Web', sans-serif; 
	font-weight: 700;	
}

.grid-sizer {
  width: 20%;
  height: 110px;
}

.window-item {
	min-height: 180px;
}

.window-item h2 {
	font-size: 0.85rem;
	font-weight: 700;
	font-family: 'Titillium Web', sans-serif; 
	text-transform: uppercase;
}
  
.alert {
  border-radius: 0;
  border: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative; }
  .alert.alert-form:after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px; }

.alert-success {
  background-color: #90a878;
  color: #fff; }

.alert-info {
  background-color: #7e9b9f;
  color: #fff; }

.alert-warning {
  background-color: #f3c649;
  color: #fff; }

.alert-danger {
  background-color: #f28281;
  color: #fff; }

.bg-cover{
	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;   
}

.bg-cover-position-x-left {background-position-x: left;}
.bg-cover-position-x-right {background-position-x: right;}
.bg-cover-position-x-center {background-position-x: center;}
.bg-cover-position-y-top {background-position-y: top;}
.bg-cover-position-y-bottom {background-position-y: bottom;}
.bg-cover-position-y-center {background-position-y: center;}

.eco-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner {
	display: flex;
  align-items: center;
	width: 100%;
	position: relative;
	vertical-align: middle;
	padding-top: 100px;
	padding-bottom: 100px;
	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
}

@media (min-width: 992px) {
	.banner  {	
		padding-top: 120px;
    padding-bottom: 120px;
    min-height: 640px;
	}
}

.sidebar-overlayed  {	
	display: inline-block;
	width: 100%;
	position: relative;
	vertical-align: middle;
	padding-top: 120px;
	padding-bottom: 120px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 4rem 0;
	color: #fff;
}


@media (min-width: 1200px) {
	.sidebar-overlayed {
		background-attachment: fixed;
		background-size: cover; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
}

.sidebar-overlayed::before,
.banner-overlayed::before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(0,0,0,0.4);
}

.sidebar-overlayed-green::before {
	background-color: rgba(0,131,78,0.9);
}

.sidebar-overlayed .btn,
.banner-overlayed .btn,
.sidebar-overlayed h2,
.banner-overlayed h1,
.banner-overlayed h2,
.sidebar-overlayed h3,
.banner-overlayed h3 {
	position: relative;
}

 	
#sidebar-flip {
	margin-left: auto;
	margin-right: auto;
	z-index: 1031;
	height: 175px;
	top: -45px;
	margin-bottom: -45px;
	padding-top: 10px;
	position: relative;
	background: url(images/bg-sidebar-flip.png) no-repeat top center;
}

#sidebar-flip h3 {
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	font-weight: 700;
	margin: 0;
	
}

@media (min-width: 920px) {
	#sidebar-flip-logos {
		padding: 0 30px;
	}
}

.sidebar-shadowed {
	background: url(images/bg-sidebar-shadowed.png) no-repeat top center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.sidebar-shadowed header {
	margin-bottom: 2rem;
}

.post-banner,
.sidebar-banner {
	position: relative;
	width: 100%;
}

.post-banner {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.post-banner-overlay,
.sidebar-banner-overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.8) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#cc000000',GradientType=0 );
	
}

.post-banner-overlay,
.post-image-wrapper,
.sidebar-banner-overlay,
.sidebar-banner img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.post-image-wrapper {
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center; 
	height: 320px;
}

.post-banner-content,
.sidebar-banner-content {
	position: absolute;
	z-index: 3;
	bottom: -1rem;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
}

.post-banner-content {
	bottom: 0rem;
	width: 100%;
	text-align: left;
	padding: 2rem;
	padding-top: 0rem;
	background: rgba(0,131,78,0.9);
}

@media (min-width: 768px) { 
	.post-banner-content {
		width: 60%;
		bottom: 2rem;
	}
}

.sidebar-banner-content h3,
.sidebar-banner-content p {
	padding-left: 30px;
	padding-right: 30px;
	line-height: 120%;
}

@media (max-width: 768px) {
	.post-banner-content h3 {
		font-size: 1.2rem;
		line-height: 160%;
	}
}

/*** Contact Form 7 ***/

.wpcf7-not-valid {
	background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442;
}

span.wpcf7-not-valid-tip {
	font-size: 0.9em;
	margin-top: -0.5rem;
	color: #a94442;
	padding: 0.75rem 1rem;
}

div.wpcf7-response-output {
	margin: 0;
	margin-bottom: 1rem;
}

div.wpcf7-validation-errors {
	text-align: center;
	background: #f7e700;
	font-size: 0.9em;
}

/*-------

   Gallery

-------*/
.nav-tabs-plain {
	padding-bottom: 40px;
	background: url(images/bg-sidebar-shadowed.png) no-repeat bottom center;
	border: none;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
}

.nav-tabs-plain > li > a.nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 768px) {
	.nav-tabs-plain {
		font-size: 1.2rem;
	}

	.nav-tabs-plain > li > a.nav-link {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.nav-tabs-plain > li > a.nav-link:hover {
	border: #fff 1px solid;
	background: #f0f0f0;
	border-bottom: #f0f0f0 1px solid;
}

.nav-tabs-plain > li > a.nav-link.active {
	border: none;
	background: #f0f0f0;
	border-bottom: #f0f0f0 1px solid;
	font-weight: 700;
}

#nav-gallery {
	margin-bottom: -48px;
	position: relative;
	top: -48px;
	font-weight: 700;
	z-index: 2;
	font-size: 120%
}


#nav-gallery > li > a {
	color: #fff;
	outline: 0;
}

@media (max-width: 767px) {
	#nav-gallery {
		display: block;
	}
	
	.nav-tabs-fold {
		position: relative;
		display: block;
		border: 0;
		background: transparent;
		clear: both;
		width: 100%;
	}
	
	#nav-gallery > li, 
	.nav-tabs-fold > li {
		width: 100%;
		display: block;
		float: left;
	}	
	#nav-gallery > li > a, 
	.nav-tabs-fold > li > a {
		color: #00834e;
		background: #fff;
	}
	
	.nav-tabs-fold > li > a {
		border: 0;
		background: #ebebeb;
		font-size: 24px;
		text-transform: uppercase;
		outline: 0;
	}
	.nav-tabs-fold > li > a.active {
		border: 0;
		background: #fff;
	}
}

@media (max-width: 991px) {
	#nav-gallery {
		margin-bottom: -78px;
		top: -78px;
	}
}

#nav-gallery > li > a.active {
	color: #646464;
}

#nav-gallery > li > a:hover {
	background: rgba(255,255,255,0.4);
	border: rgba(255,255,255,0.4) 1px solid; 
}

#nav-gallery > li > a.active {
	background: rgba(255,255,255,1.0);
	border: rgba(255,255,255,1.0) 1px solid; 
}

.gallery {
	width:100%;
	min-height:230px;
	position: relative;
	padding: 0;
	margin: 0 0 2rem 0;
	text-align: center;
}

.gallery-image{
	cursor:pointer;
	position: relative;
	display: block;
}

.gallery-text{
	position: absolute;
	top: 0; 
	right: 0;
	bottom: 0; 
	left: 0;
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0);
	opacity: 1;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
	vertical-align:middle;	
	-webkit-transition: background-color ease-out .2s;
    -moz-transition: background-color ease-out .2s;
    -o-transition: background-color ease-out .2s;
    transition: background-color ease-out .2s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

@media (min-width: 319px) {
	.gallery-text{
		line-height: 170px;
		min-height: 170px; 
	}
}

@media (min-width: 481px) {
	.gallery-text{
		line-height: 220px;
		min-height: 220px; 
	}
}

@media (min-width: 576px) {
	.gallery-text{
		line-height: 300px;
		min-height: 300px; 
	}
}

@media (min-width: 768px) {
	.gallery-text{
		line-height: 120px;
		min-height: 120px; 
	}
}
@media (min-width: 992px) {
	.gallery-text{
		min-height: 190px;
		line-height: 190px;
	}
}

.gallery-text:hover {
	background-color: rgba(0,0,0,0.15);
}

.gallery-text .fa{
	color: #00834e;
	display: inline-table;
	vertical-align:middle;
	line-height: 100%; 
	font-size: 4rem;
}

.gallery-text:hover .fa{
	color: #fff;
}

.gallery h3 {
	font-weight: 700;
	font-size: 1.2rem;
	margin: 0.6rem 0;
}

.gallery a {
	color: #424242;
}

.gallery-time {
    font-family: 'Titillium Web', sans-serif;
	border-top: #00834e 2px solid;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	background: rgba(255,255,255,0.8);
}


.gallery-time .fa {
	margin-right: 0;
}


a.card-link {
	color: #424242; 
	text-decoration: none;
}

a.card-link:hover {
	text-decoration: none;
}

a.card-link:hover .card {
	background: #f4f4f4;
}

.gallery figcaption  {
	display: none;
	font-size: 11px;
	font-style: normal;
}

@media (min-width: 992px) {
	.gallery figcaption  {
		display: block;
	}
}

.video_thumbnail {
  position: relative;
}

.video_thumbnail:hover {
  cursor: pointer;
}

.video_thumbnail .fa {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.fancybox-caption .btn-group {
	margin-top: -15px;
}

.fancybox-caption a {
	text-decoration: none;
	font-style: normal;
	font-weight: 700;
}

.eco-gallery .eco-gallery-item {
  position: relative;
  display: inline-block;
  width: 25%; }
  @media (max-width: 768px) {
    .eco-gallery .eco-gallery-item {
      width: 50%; } }
  @media (max-width: 400px) {
    .eco-gallery .eco-gallery-item {
      width: 100%; } }

.eco-gallery .eco-gallery-item img {
  width: 100%;
  opacity: 1;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out; }

.eco-gallery .eco-gallery-item > a:hover img {
  opacity: 1; }

.eco-gallery .eco-gallery-item > a {
  background: #fff;
  display: block;
  outline: none;
  position: relative; }
  .eco-gallery .eco-gallery-item > a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, #554346, #45505b) !important;
    background: -moz-linear-gradient(left, #554346, #45505b) !important;
    background: -o-linear-gradient(left, #554346, #45505b) !important;
    background: -ms-linear-gradient(left, #554346, #45505b) !important;
    background: linear-gradient(left, #554346, #45505b) !important;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out; }

.eco-gallery .eco-gallery-item .icon {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -webkit-transition: .2s opacity ease-in-out;
  color: #000;
  font-size: 30px;
  height: 69px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: .2s opacity ease-in-out;
  width: 69px; }
  .eco-gallery .eco-gallery-item .icon::before, .eco-gallery .eco-gallery-item .icon::after {
    content: "";
    display: block;
    position: absolute;
    height: 69px;
    width: 1px;
    margin-left: 34.5px;
    background-color: #fff; }
  .eco-gallery .eco-gallery-item .icon::after {
    width: 69px;
    height: 1px;
    margin-left: 0;
    margin-top: 34.5px; }

.eco-gallery .eco-gallery-item > a:hover .icon {
  opacity: 1; }

.eco-gallery .eco-gallery-item > a:hover::before {
  opacity: 0.9; }

.eco-gallery-title {
	font-family: 'Titillium Web', sans-serif;
  font-size: 0.9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  background: -webkit-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: -moz-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: -o-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: -ms-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  -webkit-transition: .2s background ease-in-out;
  transition: .2s background ease-in-out; }

.eco-gallery .eco-gallery-item > a:hover .eco-gallery-title {
  background: transparent !important; }

/* remove spacing */
.eco-gallery .eco-gallery-row.no-gutter {
  margin: 0; }

.eco-gallery .eco-gallery-row.no-gutter .eco-gallery-item {
  padding: 0; }

/* container */
.eco-gallery .container.eco-gallery-layout-default {
  padding: 93px 0; }

/* fix horizontal scrollbar */
.eco-gallery .eco-gallery-layout-default,
.eco-gallery .eco-gallery-layout-article {
  overflow: hidden; }

/* lightbox */
.eco-gallery .modal {
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important; }

.eco-gallery .modal-content {
  border-radius: 0; }

.eco-gallery .modal-body {
  padding: 0; }

.eco-gallery .modal-body img {
  width: 100%; }

.eco-gallery .modal .close {
  position: fixed;
  background: #1b1b1b;
  opacity: 0.5;
  font-size: 55px;
  font-weight: 400;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 61px;
  border: 0;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.eco-gallery .modal .close:hover {
  opacity: 1;
  background: #000;
  color: #fff; }

.eco-gallery .modal.in .modal-dialog {
  margin: 0 auto; }

/* modal back color opacity */
.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

@media (max-width: 768px) {
  .eco-gallery .carousel-indicators,
  .eco-gallery .carousel-control,
  .eco-gallery .modal .close {
    position: fixed; } }
/* fix fade in effect */
.eco-gallery .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out; }

.eco-gallery .modal.in .modal-dialog,
.eco-gallery .modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.img-container {position: relative;}

.img-gallery-overlay {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index:3; 
	background-color: rgba(0,0,0,0.4); 
	text-align: center;
}

.img-gallery-overlay-centerpoint {
	position: absolute; 
	top: 50%; 
	width: 100%; 
	height:0px; 
	text-align: center; 
	overflow: visible; 
	margin-top: -2rem;
}

.btn-img-count {
	position: absolute;
	bottom:0;
	left:0; 
	display: block; 
	z-index:2;
	border-right: 1px solid #dee2e6;
	border-top: 1px solid #dee2e6;
	background-color: #fff;
}

/*-------

   Slider

-------*/

#commentCarousel {
	margin-bottom: 2rem;
}

.carousel-control-next, 
.carousel-control-prev { 
	opacity: 1;
	color: #424242 !important;
	font-size: 3rem;
	width: 5%;
}

.carousel-indicators li {background-color: rgba(0, 0, 0, 0.5);}
.carousel-indicators li.active {background-color: rgba(0, 0, 0, 1);}

.carousel-caption {
  position: absolute;
  right: 5%;
  top: 0;
  left: 5%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #424242;
  text-align: center;
}

.carousel-item {
	min-height: 440px;
}

@media (max-width: 991px) {
	.carousel-item {
		min-height: 560px;
	}
}

.carousel-indicators li {
	height: 4px;
}

.comment-facebook a {
	color: #365899;
	font-weight: 700;
}

.comment-facebook a.pull-right {
	font-size: 18px;
}

.comment-facebook .comment-intro {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #90949c;
	border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9ebee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.comment-facebook {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}

.comment-facebook img {
	height: 32px;
	width: 32px;
}

.comment-facebook .comment-meta {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #90949c;
}

.comment-facebook .comment-meta .likes {
	color: #365899;
	margin-right: 5px;
}

.comment-facebook .comment-meta .likes .fa {
	font-size: 14px;
}

.eco-slider .carousel-inner > .active,
.eco-slider .carousel-inner > .next,
.eco-slider .carousel-inner > .prev {
  display: table; }

.eco-slider .carousel-control {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  background: #1b1b1b;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.eco-gallery .eco-slider .carousel-control {
  position: fixed; }
  @media (max-width: 991px) {
    .eco-gallery .eco-slider .carousel-control {
      bottom: 2.5rem;
      margin-top: 0;
      top: auto;
      z-index: 17; } }

.eco-gallery .eco-slider .carousel-inner > .active {
  display: block; }

.eco-slider .carousel-control.left {
  left: 0;
  margin-left: 2.5rem; }

.eco-slider .carousel-control.right {
  right: 0;
  margin-right: 2.5rem; }

.eco-slider .carousel-control .icon-next,
.eco-slider .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px; }

.eco-slider .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1; }

.eco-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important; }
  @media (max-width: 543px) {
    .eco-slider .carousel-indicators {
      display: none; } }

.eco-gallery .eco-slider .carousel-indicators {
  position: fixed;
  margin-bottom: 2.5rem !important; }
  @media (max-width: 991px) {
    .eco-gallery .eco-slider .carousel-indicators {
      margin-bottom: 3.625rem !important;
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }

.eco-slider .carousel-indicators li,
.eco-slider .carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 3px;
  background: #1b1b1b;
  border: 0;
  opacity: 0.5; }

.eco-slider .carousel-indicators .active {
  border: 4px solid #1b1b1b;
  background: #fff; }

@media (max-width: 767px) {
  .eco-slider .carousel-control {
    top: auto;
    bottom: 20px; }

  .eco-slider > .container .carousel-control {
    margin-bottom: 0px; } }
/* boxed slider */
.eco-slider > .boxed-slider {
  position: relative;
  padding: 93px 0; }

.eco-slider > .boxed-slider > div {
  position: relative; }

.eco-slider > .container img {
  width: 100%; }

.eco-slider > .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2; }

.eco-slider .eco-section {
  padding: 0;
  background-attachment: scroll; }

.eco-slider .eco-table-cell {
  padding: 0; }

.eco-slider > .container .carousel-indicators {
  margin-bottom: 3px; }

/* article slider */
.eco-slider > .article-slider .eco-section,
.eco-slider > .article-slider .eco-section .eco-table-cell {
  padding-top: 0;
  padding-bottom: 0; }


/*-------

   Arrow

-------*/
@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@-webkit-keyframes floating-arrow-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes floating-arrow-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
.eco-arrow {
  bottom: 48px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }
  @media (max-width: 991px) {
    .eco-arrow {
      bottom: 31px; } }
  @media (max-width: 320px) {
    .eco-arrow {
      bottom: 21px; } }
  @media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .eco-arrow {
      bottom: 31px; } }
  .eco-arrow a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 46px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 46px; }
    .eco-arrow a:hover {
      background: #2d2d2d; }
  .eco-arrow-icon {
    display: block; }
    .eco-arrow-icon::before {
      content: "\203a";
      display: inline-block;
      font-family: serif;
      font-size: 32px;
      line-height: 1;
      font-style: normal;
      left: 4px;
      position: relative;
      top: 6px;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .eco-arrow-floating .eco-arrow-icon {
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s; }

.eco-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000; }
  @media (max-width: 991px) {
    .eco-arrow-up {
      bottom: 31px; } }
  @media (max-width: 320px) {
    .eco-arrow-up {
      bottom: 21px; } }
  @media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .eco-arrow-up {
      bottom: 31px; } }
  .eco-arrow-up a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 46px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 46px;
    cursor: pointer; }
    .eco-arrow-up a:hover {
      background: #2d2d2d; }
  .eco-arrow-up-icon {
    display: block; }
    .eco-arrow-up-icon::before {
      content: "\203a";
      display: inline-block;
      font-family: serif;
      font-size: 32px;
      line-height: 1;
      font-style: normal;
      position: relative;
      top: 6px;
      left: -4px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .eco-arrow-up:hover .eco-arrow-up-icon {
    -webkit-animation: floating-arrow-up 1.6s ease-in-out infinite 0s;
    animation: floating-arrow-up 1.6s ease-in-out infinite 0s; }

@media (max-width: 768px) {
  .eco-arrow-up {
    right: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    bottom: 15px; } }
@media (min-width: 768px) {
  .eco-right-padding-md-up {
    padding-right: 60px; } }

@media (min-width: 768px) {
  .eco-left-padding-md-up {
    padding-left: 60px; } }

.eco-valign-top {
  vertical-align: top; }

.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: 400; }

#fixed-header {
	position: fixed;
	background: #fff;
	width: 100%;
	z-index: 9999;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
	display: none;
	font-family: 'Titillium Web', sans-serif;
}

#fixed-header .navbar,
#fixed-header .navbar-text,
#fixed-header ul {
	margin: 0;
	padding: 0;
	font-size: 0.95rem;
}

#fixed-header-logo {
	float: left;
	display: flex;
}

#fixed-header-nav {
	float: left;
	display: flex;
}

#fixed-header .navbar-text {
	display: block;
	float: right;
	font-weight: 700;
}

#fixed-header .btn-primary {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #fff;
	margin: 0;
	padding: 8px 14px;
	font-size: 1rem;
}

#corporateNavContainer a,
#nav-action a.phone-link {
	color: #424242;
	text-decoration: none;
}

#header .navbar { 
	font-family: 'Titillium Web', sans-serif;
	color: #424242;
}

.fixed-header-mobile {
	position: fixed;
	top: 0;
	background: #fff;
	width: 100%;
	z-index: 1049;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
	font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 992px) {
	.fixed-header-mobile .container {
		padding: 0px;
	}
}

#fixed-header-nav-action {
	float: right;
	display: flex;
	text-align: right;
}

#fixed-header-nav-action > li {
	font-weight: 700;
	float: left;
}

#fixed-header-nav-action .dropdown-menu {
		background: #e1e1e1;
		border-color: #e1e1e1;
		padding-top: 0.8em;
		padding-bottom: 1em;
		padding-left: 1em;
		min-width: 160px;
		font-weight: 400;
	}
	
#fixed-header-nav-action  .dropdown-menu:before {
		position: absolute;
		top: -19px;
		left: 25px;
		content: "\f0d8";
		font-family: "FontAwesome";
		color: #e1e1e1;
		font-size: 20px;
	}


.navbar-brand img {height: 32px;}

@media (min-width: 992px) {
	.navbar-brand img {height: 48px;}
}

@media (max-width: 992px) {
	.media img {max-width: 100px;}
}

.navbar-brand {
  display: block;
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.fixed-header-mobile .navbar-brand {
	margin-top: -5px;
	width: 120px;
}

.navbar-toggler {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

@media (max-width: 991px) {
	#navbar-collapse-container .navbar-collapse.show {
		overflow-y: scroll;
	}
	#corporateNavContainer .navbar-text {
		display: none;
	}
	#corporateNavContainer ul.navbar-nav li.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu {
		display: block;
	}
	.dropdown-menu {
		padding: 0;
		border: 0;
	}
}

#btn-menu-trigger {
	display: block;
	position: absolute;
	right:0;
	top:4px;
	width: 60px;
	color: #00834e;
	outline: none;
	float: right;
	vertical-align: middle;
	text-align: center;
	padding-top: 0.7rem;
}

#btn-menu-cta {
	display: block;
	position: absolute;
	right:60px;
	top:12px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	outline: none;
}

.icon-toggle {
	font-size: 1.25rem !important;
	display: block;
	position: absolute;
	right: 0 !important;
	top:4px !important;
	width: 60px;
	color: #00834e;
	outline: none;
	float: right;
	vertical-align: middle;
	text-align: center;
	padding-top: 0.7rem;
}

#mobile-cta-wrapper a{
	font-size: 18px;
	font-weight: 700;
	
} 

#mobile-menu-cta-wrapper {
	text-align: center;
}

#contactNavContainer header,
#contactNavContainer .col-installer,
#contactNavContainer span.fa-stack {
	display: none;
}

#contactNavContainer .py-5 {
	padding-top: 0;
	padding-bottom: 0;
}

#contactNavContainer .btn-primary {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

#contactNavContainer .btn-link {
	width: 100%;
	display: block;
	clear: both;
}

#contactNavContainer .contact-city {
	text-align: center;
	margin-bottom: 1rem;
}

#nav-action {
	font-size: 1.25rem;
	font-weight: 700;
}

#nav-action  i.fa {
	margin-right: 0.5rem;
}

#nav-action  .btn {
	margin-bottom: 0;
}

#nav-action  .btn-primary::after {
	margin-right: 0;
}

#productNavWrapper {
	top: 5rem; 
	z-index: 900;
	background-color: #00834e;
	border-top: rgba(0,0,0,0.2) 2px solid;
}

ul#menu-primary-menu a {
	color: #fff;
	text-decoration: none;
}

#menu-primary-menu > li > a {
	font-size: 1.25rem; /*20px*/
	text-transform: uppercase;
	font-weight: 700;
}

#nav-action .dropdown-menu,
#fixed-header-nav-action  .dropdown-menu,
#menu-primary-menu > li > ul.dropdown-menu,
#fixed-header-nav > li > ul.dropdown-menu {
	-webkit-border-radius: 2px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius: 2px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-radius: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background: #007646;
	border: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	line-height: 2rem;
	padding: 1rem 0rem 1rem 1.5rem; 
	top: 110%;
	min-width: 14rem;
}

#nav-action .dropdown-menu,
#fixed-header-nav-action  .dropdown-menu {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0.8rem 1rem 1rem 0rem; 
	top: 110%;
	left: 20px;
	min-width: 12rem;
}

#nav-action  .btn-primary {
	color: #fff;
}


@media (max-width: 991px) {
	#menu-corporate {
		margin-top: 3rem;
		margin-left: 3rem;
		line-height: 200%;
	}
	
	#menu-corporate > li > a {
		font-size: 1.5rem;
		font-weight: 700;
	}
	#menu-corporate .dropdown-menu {
		padding-left: 0.5rem;
	}
	#menu-corporate .dropdown-toggle::after {
		color: #ccc;
	}
}

@media (min-width: 992px) {
	#menu-corporate .dropdown-menu {
		top: 112%;
		padding: 0.8rem;
		line-height: 180%;
	}
	
	#header .container,
	#header .container .navbar {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#nav-action li {
		padding-left: 1.5rem;
	}
	
	#fixed-header-nav-action li {
		padding-left: 1rem;
	}
	
	#nav-action  .btn-primary {
		font-size: 1.1rem;
		padding: 0.35rem 1rem 0.4rem 1rem;
		margin-top: 0.25rem;
	}
	
	#menu-corporate li {
		padding-left: 1rem;
		padding-right: 1rem;
	}		
	
	#menu-primary-menu > li {
		padding: 1rem 2.5rem 1rem 0;
	}
	
	#fixed-header-nav > li {
		line-height: 38px;
		padding-left: 1.5rem;		
	}
	
	#fixed-header-nav > li > a {
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
	}
	
	#menu-corporate .dropdown-toggle::after,
	#fixed-header-nav .dropdown-toggle::after,
	#menu-primary-menu .dropdown-toggle::after {
		display: none;
	}
	
	#nav-action .dropdown-menu::before,
	#fixed-header-nav-action  .dropdown-menu::before,
	#menu-primary-menu > li > ul.dropdown-menu::before,
	#fixed-header-nav > li > ul.dropdown-menu::before {
		position: absolute;
		top: -22px;
		left: 1.5rem;
		content: "\f0d8";
		font-family: "FontAwesome";
		color: #007646;
		font-size: 30px;
	}
	
	#nav-action .dropdown-menu::before,
	#fixed-header-nav-action  .dropdown-menu::before,
	#fixed-header-nav > li > ul.dropdown-menu::before {
		top: -20px;
	}
	
	#menu-primary-menu > li > ul.dropdown-menu > li,
	#fixed-header-nav > li > ul.dropdown-menu > li {
		padding: 0;
	}
	
	#nav-action .dropdown-menu li a,
	#fixed-header-nav-action  .dropdown-menu li a,
	#menu-primary-menu > li > ul.dropdown-menu > li a,
	#fixed-header-nav > li > ul.dropdown-menu > li a {
		padding-top: 0;
		white-space: nowrap; 
		color: #fff;
		text-decoration: none;
	}
	
	#fixed-header-nav-action  .dropdown-menu li a {
		font-weight: 700;
	}
	
	#menu-primary-menu > li > ul.dropdown-menu li > ul.dropdown-menu,
	#fixed-header-nav > li > ul.dropdown-menu li > ul.dropdown-menu {
		display: block;
		position: relative;
		list-style: none;
		  background-color: transparent;
		  background-clip: none;
		  border: 0px;
		  border-radius: 0px;
		  padding: 0;
		  margin: 0;
	}
	
	#menu-primary-menu > li > ul.dropdown-menu li > ul.dropdown-menu > li,
	#fixed-header-nav > li > ul.dropdown-menu li > ul.dropdown-menu > li {
		padding: 0;
		margin: 0 1.5rem 0 0;
	}
	
	/******** WINDOWS DROPDOWN ************/
	
	#menu-primary-menu > li.menu-item-object-product > ul.dropdown-menu,
	#fixed-header-nav > li.menu-item-object-product > ul.dropdown-menu {
		min-width: 48rem;
	}
	
	#menu-primary-menu > li.menu-item-object-product > ul.dropdown-menu > li,
	#fixed-header-nav > li.menu-item-object-product > ul.dropdown-menu > li {
		float: left;
	}
	
	#menu-primary-menu > li.menu-item-object-product > ul.dropdown-menu > li.menu-item-has-children > a,
	#fixed-header-nav > li.menu-item-object-product > ul.dropdown-menu > li.menu-item-has-children > a {
		font-weight: 700;
	}
	
	/******** DOORS DROPDOWN ************/
	
	#menu-primary-menu > li.doors-menu > ul.dropdown-menu,
	#fixed-header-nav > li.doors-menu > ul.dropdown-menu {
		min-width: 26rem;
	}
	
	#menu-primary-menu > li.doors-menu > ul.dropdown-menu > li,
	#fixed-header-nav > li.doors-menu > ul.dropdown-menu > li {
		float: left;
	}
	
	#menu-primary-menu > li.doors-menu > ul.dropdown-menu > li.menu-item-has-children > a,
	#fixed-header-nav > li.doors-menu > ul.dropdown-menu > li.menu-item-has-children > a {
		font-weight: 700;
	}
	
}

/********* BEGIN DROPDOWN.JS ***************/

.navbar-dropdown {
	left: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.45s ease;
	z-index: 1030; }

.navbar-dropdown .navbar-brand {
	  float: none;
	  font-size: 0;
	  padding: 1.25rem 0;
	  position: relative;
	  transition: padding 0.25s ease;
	  white-space: nowrap; }

.navbar-dropdown .navbar-brand::before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle; }

	.navbar-dropdown .navbar-logo,
	.navbar-dropdown .navbar-caption {
	  display: inline-block;
	  vertical-align: middle; }
	.navbar-dropdown .navbar-logo {
	  margin-right: 1rem;
	  transition: margin 0.3s ease-in-out; }
	  .navbar-dropdown .navbar-logo img {
		height: 3rem;
		transition: all 0.3s ease-in-out; }
	.navbar-dropdown .eco-table-cell {
	  height: 5rem; }
	.navbar-dropdown .navbar-caption {
	  font-family: "Titillium Web";
	  font-size: 1rem;
	  font-weight: 700;
	  white-space: normal; }
	  .navbar-dropdown .navbar-caption, .navbar-dropdown .navbar-caption:hover {
		color: inherit;
		text-decoration: none; }
	.navbar-dropdown.navbar-fixed-top {
	  position: fixed; }
	.navbar-dropdown.bg-color.transparent {
	  background: none !important; }
	.navbar-dropdown.navbar-short .navbar-brand {
	  padding: 0.625rem 0; }
	.navbar-dropdown.navbar-short .navbar-logo {
	  margin-right: 0.5rem; }
	  .navbar-dropdown.navbar-short .navbar-logo img {
		height: 2.375rem; }
	.navbar-dropdown.navbar-short .eco-table-cell {
	  height: 3.625rem; }
	.navbar-dropdown .navbar-close {
	  left: 0.6875rem;
	  position: fixed;
	  top: 0.75rem;
	  z-index: 1000; }
	.navbar-dropdown.opened {
	  background: none !important; }
	  .navbar-dropdown.opened .navbar-brand,
	  .navbar-dropdown.opened .navbar-toggler {
		display: none; }
	.navbar-dropdown .hamburger-icon {
	  content: "";
	  width: 16px;
	  -webkit-box-shadow: 0 -6px 0 1px,0 0 0 1px,0 6px 0 1px;
	  -moz-box-shadow: 0 -6px 0 1px,0 0 0 1px,0 6px 0 1px;
	  box-shadow: 0 -6px 0 1px,0 0 0 1px,0 6px 0 1px; }
	.navbar-dropdown .close-icon {
	  position: relative;
	  width: 21px;
	  height: 21px;
	  overflow: hidden; }
	  .navbar-dropdown .close-icon::before, .navbar-dropdown .close-icon::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px; }
	  .navbar-dropdown .close-icon::before {
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg); }
	  .navbar-dropdown .close-icon::after {
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg); }
  
  .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
	border-bottom: 0.35em solid transparent;
	border-left: 0.35em solid;
	border-right: 0;
	border-top: 0.35em solid transparent;
	margin-left: 0.3rem; }
  
  .dropdown-menu .dropdown-item:focus {
	outline: 0; }
  
  .nav-dropdown {
	display: table !important;
	font-family: "Titillium Web";
	font-weight: 700;
	height: auto !important; }
	.nav-dropdown .nav-item {
	  display: table-cell;
	  float: none;
	  vertical-align: middle; }
	.nav-dropdown .nav-btn {
	  padding-left: 1rem; }
	.nav-dropdown .link {
	  margin: 1em 0;
	  padding: 0;
	  transition: color .2s ease-in-out; }
	  .nav-dropdown .link.dropdown-toggle {
		margin-right: 2.583em; }
		.nav-dropdown .link.dropdown-toggle::after {
		  margin-left: .25rem;
		  border-top: 0.35em solid;
		  border-right: 0.35em solid transparent;
		  border-left: 0.35em solid transparent;
		  border-bottom: 0; }
		.nav-dropdown .link.dropdown-toggle::after {
		  display: block;
		  margin-top: -0.1667em;
		  position: absolute;
		  right: 1.3333em;
		  top: 50%; }
		.nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
		  margin: 0;
		  padding: 1.667em 2.583em 1.667em 1.667em; }
	.nav-dropdown .link::after,
	.nav-dropdown .dropdown-item::after {
	  color: inherit; }
	.nav-dropdown .btn {
	  font-size: 0.75rem;
	  font-weight: 700;
	  letter-spacing: 0;
	  margin-bottom: 0;
	  padding-left: 1.25rem;
	  padding-right: 1.25rem; }
	.nav-dropdown .dropdown-menu {
	  border-radius: 0;
	  border: 0;
	  left: 0;
	  margin: 0;
	  padding-bottom: 1.25rem;
	  padding-top: 1.25rem; }
	.nav-dropdown .dropdown-submenu {
	  left: 100%;
	  margin-left: 0.125rem;
	  margin-top: -1.25rem;
	  top: 0; }
	.nav-dropdown .dropdown-item {
	  font-size: 0.8125rem;
	  font-weight: 500;
	  line-height: 2;
	  padding: 0.3846em 4.615em 0.3846em 1.5385em;
	  position: relative;
	  transition: color .2s ease-in-out, background-color .2s ease-in-out; }
	  .nav-dropdown .dropdown-item::after {
		margin-top: -0.3077em;
		position: absolute;
		right: 1.1538em;
		top: 50%; }
	  .nav-dropdown .dropdown-item:focus, .nav-dropdown .dropdown-item:hover {
		background: none; }
  
  @media (max-width: 767px) {
	.nav-dropdown.navbar-toggleable-sm {
	  bottom: 0;
	  display: none;
	  left: 0;
	  overflow-x: hidden;
	  position: fixed;
	  top: 0;
	  transform: translateX(-100%);
	  -ms-transform: translateX(-100%);
	  -webkit-transform: translateX(-100%);
	  width: 18.75rem;
	  z-index: 999; } }
  .nav-dropdown.navbar-toggleable-xl {
	bottom: 0;
	display: none;
	left: 0;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	width: 18.75rem;
	z-index: 999; }
  
  .nav-dropdown-sm {
	display: block !important;
	overflow-x: hidden;
	overflow: auto;
	padding-top: 3.875rem; }
	.nav-dropdown-sm::after {
	  content: "";
	  display: block;
	  height: 3rem;
	  width: 100%; }
	.nav-dropdown-sm.collapse.in ~ .navbar-close {
	  display: block !important; }
	.nav-dropdown-sm.collapsing, .nav-dropdown-sm.collapse.in {
	  transform: translateX(0);
	  -ms-transform: translateX(0);
	  -webkit-transform: translateX(0);
	  transition: all 0.25s ease-out;
	  -webkit-transition: all 0.25s ease-out; }
	.nav-dropdown-sm.collapsing[aria-expanded="false"] {
	  transform: translateX(-100%);
	  -ms-transform: translateX(-100%);
	  -webkit-transform: translateX(-100%); }
	.nav-dropdown-sm .nav-item {
	  display: block;
	  margin-left: 0 !important;
	  padding-left: 0; }
	.nav-dropdown-sm .link,
	.nav-dropdown-sm .dropdown-item {
	  border-top: 1px dotted rgba(255, 255, 255, 0.1);
	  font-size: 0.8125rem;
	  line-height: 1.6;
	  margin: 0 !important;
	  padding: 0.875rem 2.4rem 0.875rem 1.5625rem !important;
	  position: relative;
	  white-space: normal; }
	  .nav-dropdown-sm .link:focus, .nav-dropdown-sm .link:hover,
	  .nav-dropdown-sm .dropdown-item:focus,
	  .nav-dropdown-sm .dropdown-item:hover {
		background: rgba(0, 0, 0, 0.2) !important; }
	.nav-dropdown-sm .nav-btn {
	  position: relative;
	  padding: 1.5625rem 1.5625rem 0 1.5625rem; }
	  .nav-dropdown-sm .nav-btn::before {
		border-top: 1px dotted rgba(255, 255, 255, 0.1);
		content: "";
		left: 0;
		position: absolute;
		top: 0;
		width: 100%; }
	  .nav-dropdown-sm .nav-btn + .nav-btn {
		padding-top: 0.625rem; }
		.nav-dropdown-sm .nav-btn + .nav-btn::before {
		  display: none; }
	.nav-dropdown-sm .btn {
	  padding: 0.625rem 0; }
	.nav-dropdown-sm .dropdown-toggle::after {
	  position: absolute;
	  right: 1.25rem;
	  top: 50%;
	  margin-top: -0.154em; }
	.nav-dropdown-sm .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
	  margin-left: .25rem;
	  border-top: 0.35em solid;
	  border-right: 0.35em solid transparent;
	  border-left: 0.35em solid transparent;
	  border-bottom: 0; }
	.nav-dropdown-sm .dropdown-toggle[data-toggle="dropdown-submenu"][aria-expanded="true"]::after {
	  border-top: 0;
	  border-right: 0.35em solid transparent;
	  border-left: 0.35em solid transparent;
	  border-bottom: 0.35em solid; }
	.nav-dropdown-sm .dropdown-menu {
	  margin: 0;
	  padding: 0;
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  border: 0;
	  float: none;
	  border-radius: 0;
	  background: none; }
  
/********* END DROPDOWN.JS ***************/

/********* BEGIN PRODUCT SLIDER ***************/

.slide-wrapper{
    width:100%;
    box-sizing: border-box;
  }

.slide-container{
    width: 100%;
    margin:0px auto;
  }

.product-image-wrapper {width: 150px;}
  
.slick-slide{
	/* may fix iOS issue 
	margin-bottom: 80px;
	*/
	margin-bottom: 2rem;
}

@media (max-width: 577px) {
    .slick-slide .container {
        max-width: 80vw;
    }
}


.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    z-index: 99;
    display: block;
    width: 10%;
    height: 100%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    color: transparent;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
     outline: 0px;
}

@media (min-width: 1400px) {
	.slick-prev,
    .slick-next {width: 20%;}
}

.slick-next {
    right: 0;
    text-align: right;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );    
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: 0px;
}

.slick-prev:hover {
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.slick-next:hover {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );    
}

.slick-prev:before,
.slick-next:before{
    font-family: 'FontAwesome';
    display: block;
    font-size: 6vw;
    color: #00834e;
    width: 100%;
    text-align: center;
    margin-top: -3vw;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
}

.slick-prev:before {
    content: "\f104"; 
}

.slick-next:before {
    content: "\f105"; 
}

.slick-prev:hover:before {
    padding-right: 1rem;
}

.slick-next:hover:before {
    padding-left: 1rem;
}


.slick-dots {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    background: url(images/bg-sidebar-shadowed.png) no-repeat center top;
    padding: 0;
    vertical-align: top;
}


.slick-dots li {
    position: relative;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-top:  #c5c5c5 4px solid;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
     padding-top: 4px;
}


@media (min-width: 360px) {
	.slick-dots li {width: 100px;}
}

.slick-dots li.slick-active {
    border-top:  #00834e 8px solid; 
    padding-top: 0px;
}

.slick-dots li button {
    line-height: 1.2rem;
    display: block;
    width: 100%;
    height: 0px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    display: block;
    position: absolute;
    z-index: 3;
    opacity: 1;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    min-height: 60px;
    text-align: center;
    font-weight: bold;
    white-space: pre;
    color: #c5c5c5;
    padding-top: 10px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
}

.slick-dots li:hover button:before,
.slick-dots li.slick-active button:before {
    opacity: 1;
    color:#424242;
}

.slick-dots li:nth-child(1) button:before {
    content: "Double & \A Tripple-Pane";
}

.slick-dots li:nth-child(2) button:before {
    content: "Low-E \A Coating";
}

.slick-dots li:nth-child(3) button:before {
    content: "Noise \A Reduction";
}

/********* END PRODUCT SLIDER ***************/


.bg-custom-windows {
    background-image: url(/wp-content/uploads/custom-windows-appearance.jpg);
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
}

.bg-financing {
    background-image: url(/wp-content/uploads/spring-windows.jpg);
    background-size: cover;
    background-position-x: left;
    background-position-y: center;
}

.shadowed {
    border-top: #00834e 3px solid;
    border-radius: 3px;
}

.shadowed .fa-stack {
    position: absolute;
    top: -1.2rem;
    left: -0.4rem;
    z-index: 3;
    display: block;
}

.door-cat {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

@media (min-width: 992px) {
	.overlapped-left {margin-left: -10rem;}
    .overlapped-right {margin-right: -25vw;}
    .shadowed {
        z-index: 2;
        position: relative;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border: #00834e 3px solid;
        -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
        -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
        box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    }
    .shadowed .fa-stack {
        top: -1.3rem;
        left: -1.3rem;
    }
    .door-cat {
        min-height: 480px;
    }
}


#doors-section h4 {
    background: #fff;
    float: left;
    padding: 2rem;
}

.header-numbered {
	position: relative;
	width: 100%;
	float: left;
}

@media(min-width: 992px) {
	.header-numbered {
		padding: 4rem 0;
	}
}

.header-numbered .fa-stack {
	font-size: 3rem;
}


@media(min-width: 992px) {
	.header-numbered .fa-stack {
		position: absolute;
		z-index: 1;
		font-size: 4rem;
		top: 0;
		left: -6rem;
	}
}

.header-numbered .text-light {
	color: #ccc !important;
}

@media(min-width: 992px) {
	.header-numbered h2 {
		position: absolute;
		z-index: 2;
		bottom: 1.5rem;
		left: 0;
	}
}

.link-thumb .badge {
	position: absolute;
	z-index: 2;
	bottom: 1rem;
	left: 2rem;
	text-transform: uppercase;
}

.col-overlap {
	margin-top: -11rem;
}


/********* LOCATION PAGE ************/

.card-location {
	margin-bottom: -180px;
	min-height: 240px;
	padding-top: 0.5rem;
	text-decoration: none;
}

@media (max-width: 991px) {
	.card-location {
		margin-bottom: -160px;
		min-height: 0;
	}
}

@media (max-width: 767px) {
	.card-location {
		margin-bottom: -36px;
		min-height: 0;
	}
}

.location-phone {
	color: #424242;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: 700;
}

#location-form-container {
	margin-bottom: -4px;
}

.sidebar-contact > .container-fluid {
	background: url(images/bg-sidebar-shadowed.png) no-repeat top center;
	padding-top: 4rem;
}

@media (min-width: 1200px) {
	.col-installer {
	   flex: 0 0 0.666667%;
	   max-width: 0.666667%;
	   display: none;
	}
	.col-cta {
	   flex: 0 0 22.666667%;
	   max-width: 22.666667%;
	}
 }

 @media (min-width: 1400px) {
	.col-installer {
	   flex: 0 0 14.666667%;
	   max-width: 14.666667%;
	   display: flex;
	}

	.col-installer img {
	   margin-left: -80%;
	   max-width: 180%;
	}

	.col-cta {
	   flex: 0 0 18.666667%;
	   max-width: 18.666667%;
	}
 }

 @media (min-width: 1600px) {
	.col-installer, .col-cta {
	   flex: 0 0 16.666667%;
	   max-width: 16.666667%;
	}
	.col-installer img {
	   margin-left: -40%;
	   margin-right: -40%;
	}
	.row-locations-wrapper {
	   flex: 0 0 60.666667%;
	   max-width: 60.666667%;
	}
 }

 @media (min-width: 1800px) {
	.row-locations-wrapper {
	   flex: 0 0 41.666667%;
	   max-width: 41.666667%;
	}
	.col-installer img {
		margin-left: -20%;
		margin-right: -60%;
	 }
 }

 @media (min-width: 2000px) {
	.col-installer img {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	 }
 }

 @media (min-width: 575px) {
	.sidebar-contact h3 {
	   border-bottom: #00834e 2px solid;
	   padding: 8px 0;
	}	
 }	 

.sidebar-contact h2  {
	font-size: 1.6rem;
	font-weight: 400;
}

.sidebar-contact h3 {
	font-size: 1rem;
	font-weight: 400;
	bottom: 0;
}

@media (min-width: 767px) {
	.sidebar-contact h3 {
		border-bottom: #00834e 2px solid;
		padding: 8px 0;
	}	
}

.sidebar-contact h3 strong {
	font-size: 1.1rem;
}

.sidebar-contact h3 strong {font-weight: 700;}

.sidebar-contact p {
	font-size: 0.9rem;
	font-weight: 400;
	margin: 0;
}

.contact-city {
	margin-bottom: 2.5rem;
}

@media (min-width: 767px) {
	.contact-city {
		margin-bottom: 1.5rem;
	}
}

.sidebar-contact p.contact-phone {
	font-size: 1.3rem;
	margin-top: 0;
	margin-bottom: 0.4rem;
}

.sidebar-contact .fa-file-text,
.sidebar-contact .fa-envelope {
	font-size: 80%;
}

/*********** REVIEWS ***************/

h3.rr_title {
	font-size: 1rem;
	font-weight: 700;
}

.testimonial_group .full-testimonial .rr_review_name {
	font-style: normal;
}

.footer-page {
	border-top: #00834e 6px solid;
	background-color: #fff; 
	padding-top: 4rem; 
	font-size: 0.9rem;
}

.footer-page a 		{color: #424242;}
.footer-page a:hover {color: #00834e;}

.footer-page a .fa-circle { color: #aaa;}
.footer-page a:hover .fa-circle {color: #00834e;}

.footer-page ul.list-unstyled {
	line-height: 1.5rem;
	font-family: 'Titillium Web', sans-serif;
}

.footer-page ul.list-unstyled li:first-child {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.link-smm {font-size: 1.15rem;}

#legal-wrapper {
	color: #666;
}

.legal {
	margin-top: 4rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	background: #f4f4f4;
	font-size: 0.8rem;
}
.legal .col-12 {padding: 1.5rem 0;}

.legal a {color: #666;}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.bypostauthor {
}



/* WordPress gallery */
.gallery-caption {
}
.gallery {
	margin-bottom: 1.6em;
}
.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-icon img {
	margin: 0 auto;
}
.gallery-caption {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


.sticky {
}
.wp-caption {
	margin: 30px auto;
	max-width: 100%;
	background: #ebebeb;
	padding-bottom:  0.8075em;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
	max-width: 100%;
	border-bottom: #cacaca 1px solid;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em  1.1em; 
	text-align: center;
	font-size: 0.95rem;
	line-height:  1.1rem;
	font-family: 'Titillium Web', sans-serif;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.card-title {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}

/******** INFOGRAPHIC - REPLACEMENT **************/
.hidden-title{position:absolute;left:-9999em;top:-9999em;font-size:0}

.blue-holder {
    padding-top: 30px;
    background: #afe9ef
}
.w101-faq {
    height: 3144px;
    position: relative;
    background: url(https://www.ecolinewindows.ca/wp-content/uploads/images/windows-101.jpg) no-repeat 50% 0
}
.w101-text {
    position: absolute;
    left: 50%;
    top: 380px;
    width: 200px
}
.w101-text h2 {
    margin: 0 0 2px;
    text-transform: uppercase;
    color: #97dcf7;
    font: bold 22px/24px Arial, sans-serif
}
.w101-text p {
    margin: 0;
    color: #68b7f2;
    font: 14px/15px Hind, Arial, sans-serif
}
.w101-text.txt1 {
    margin-left: -345px
}
.w101-text.txt2 {
    width: 250px;
    margin-left: 138px;
    top: 417px
}
.w101-text.txt3 {
    margin-left: -365px;
    top: 795px;
    width: 300px
}
.w101-text.txt4 {
    margin-left: 215px;
    top: 740px;
    width: 250px
}
.w101-text.txt5 {
    margin-left: -60px;
    top: 1030px;
    width: 260px
}
.w101-text.txt6 {
    margin-left: -365px;
    top: 1246px;
    width: 260px
}
.w101-text.txt7 {
    margin-left: 190px;
    top: 1410px;
    width: 260px
}
.w101-text.txt8 {
    margin-left: -320px;
    top: 1557px;
    width: 200px
}
.w101-text.txt9 {
    margin-left: 200px;
    top: 1740px;
    width: 240px
}
.w101-text.txt10 {
    margin-left: -370px;
    top: 1928px;
    width: 260px
}
.w101-text.txt11 {
    margin-left: 150px;
    top: 2110px;
    width: 300px
}
.w101-text.txt12 {
    margin-left: -350px;
    top: 2350px;
    width: 260px
}
.w101-text.txt13 {
    margin-left: 160px;
    top: 2490px;
    width: 300px
}
.w101-text.txt14 {
    margin-left: -57px;
    top: 2792px;
    width: 260px
}

.wservice-holder {
    background: #f9ede4
}
.window-service {
    height: 6045px;
    position: relative;
    background: url(https://www.ecolinewindows.ca/wp-content/uploads/images/window-servicing1.jpg) no-repeat 50% 0
}
.wserv-text {
    position: absolute;
    left: 50%;
    top: 380px;
    width: 300px
}
.wserv-text h2 {
    margin: 0 0 3px;
    color: #b24526;
    font: bold 20px/24px Arial, sans-serif
}
.wserv-text p {
    margin: 0;
    color: #6d6e71;
    font: 21px/23px Arial, sans-serif
}
.wserv-text strong {
    display: block;
    margin: 0;
    color: #6d6e71;
    font: bold 20px/22px Arial, sans-serif
}
.wserv-text span {
    display: block;
    margin: 0;
    color: #6d6e71;
    font: bold 30px/32px Arial, sans-serif
}
.wserv-text.wst1 {
    margin-left: 100px;
    top: 495px
}
.wserv-text.wst2 {
    margin-left: -340px;
    top: 920px
}
.wserv-text.wst3 {
    margin-left: 116px;
    top: 1240px
}
.wserv-text.wst4 {
    margin-left: -96px;
    top: 1640px
}
.wserv-text.wst5 {
    margin-left: -445px;
    top: 2030px
}
.wserv-text.wst6 {
    margin-left: -100px;
    top: 2030px
}
.wserv-text.wst7 {
    margin-left: 225px;
    top: 2030px
}
.wserv-text.wst8 {
    margin-left: 110px;
    top: 2437px
}
.wserv-text.wst9 {
    margin-left: -335px;
    top: 2857px
}
.wserv-text.wst10 {
    margin-left: 89px;
    top: 3252px
}
.wserv-text.wst11 {
    margin-left: -142px;
    top: 3643px;
    width: 350px
}
.wserv-text.wst12 {
    margin-left: -453px;
    top: 4122px
}
.wserv-text.wst13 {
    margin-left: -123px;
    top: 4122px
}
.wserv-text.wst14 {
    margin-left: 214px;
    top: 4122px
}
.wserv-text.wst15 {
    margin-left: -113px;
    top: 4440px
}
.wserv-text.wst16 {
    margin-left: -460px;
    top: 4603px
}
.wserv-text.wst17 {
    margin-left: -122px;
    top: 4603px
}
.wserv-text.wst18 {
    margin-left: 202px;
    top: 4603px
}
.wserv-text.wst19 {
    margin-left: -344px;
    top: 4912px
}
.wserv-text.wst20 {
    margin-left: 58px;
    top: 5359px;
    width: 350px
}
.wserv-text.wst21 {
    margin-left: -343px;
    top: 5684px
}
.wserv-text.wst21>p {
    margin-bottom: 25px
}

/************* Door Styles ***************/

.category-wrapper {
	 background-size: cover; 
	 background-repeat: no-repeat;  
	 background-attachment: fixed;   
	 background-position: center;
	 border-bottom: #fff 5px solid;
}

.category-container {
	color: #424242;
	padding-top: 6rem;
	padding-bottom:4rem;
	padding-left: 4rem;
}

.category-container .lead {
	font-size: 1.4rem;
	font-weight: 400;
}

.category-container > .row > div {
	margin-bottom: 2rem;
}

@media (max-width: 991px) {
	.category-container {
		padding: 3rem 1rem;
	}	
}

.category-title {
	font-weight: 700;
	font-size: 3rem;
	line-height: 2.5rem;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.category-title a {
	color: #424242;
}

.collection-glass-previews {
	position: absolute;
	z-index: 2;
	top: 1rem;
	right: 0.9rem;
}

.category-glass-previews > div {
	background-color: rgba(255,255,255,1);
}

.category-glass-previews img {
	width: 60px;
	height: 60px;
}

.category-glass-preview-label {
	font-size: 0.6rem;
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
}

.category-features ul,
.category-features li {
	list-style-type: none;
}

.category-features  li::before{
		position: relative;
		top: 0;
		left: -2rem;
		margin-right: -1rem;
		content: "\f00c";
		font-family: "FontAwesome";
		font-size: 1rem; 
}

.series-links {
	margin-right: -15px;
}

.series-links .list-group-item {
	border-radius: 0;
	background: #00834e;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	margin-bottom: 1rem;
}

.series-links .list-group-item-last {
	background: #424242;
}

.series-links .list-group-item:hover {
	background: rgba(36,119,35,0.9);
}



/************* Door ***************/

.rounded-door {
	width: 120px; 
	height: 120px; 
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: cover;
}

@media (max-width: 577px) {
	.rounded-door {
		width: 100px; 
		height: 100px; 
	}
}

/************* Door Glass ***************/

.card-glass a.main-image-link {
	background: #000;
}

.card-glass img.main-image {	
	opacity: 0.7;
	-webkit-transition: opacity 0.5s ease-in-out;
	  -moz-transition: opacity 0.5s ease-in-out;
	  -ms-transition: opacity 0.5s ease-in-out;
	  -o-transition: opacity 0.5s ease-in-out;
	  transition: opacity 0.5s ease-in-out;
}

.card-glass:hover img.main-image {
	opacity: 1;
}

.card-glass .flex-row span,
.text-uppercase-small {
	font-size: 10px;
	text-transform: uppercase;
}

.card-glass .flex-title {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
	color: #fff; 
	margin-bottom: -94px; 
	position: relative; 
	top: -94px; 
	min-height: 40px;
}

.card-glass .flex-title h2 {
	font-weight: 700;
}

.flex-title a.link-preview img {
	height: 40px;
	width: auto;
}

.card-glass .privacylevel {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 40px;
	text-align: center;
	line-height: 12px;
}

.card-glass .privacylevel span {
	text-transform: uppercase;
	font-size: 10px;
	color: #fff;
	line-height: 8px;
}

.card-glass .privacylevel .privacylevel-indicator {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	background: #fff;
	display: block;
	text-align: center;
	line-height: 40px; 
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 10px;
}

.card-glass .camingfinishes {
	position: absolute;
	top: 30px;
	left: 80px;
	line-height: 10px;
	color: #fff;
}

.card-glass .camingfinishes img {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 40px;
	width: 40px;
}

@media (min-width: 992px) {

	.card-glass .card-body {
		opacity: 0.5;
	  -webkit-transition: opacity 0.5s ease-in-out;
	  -moz-transition: opacity 0.5s ease-in-out;
	  -ms-transition: opacity 0.5s ease-in-out;
	  -o-transition: opacity 0.5s ease-in-out;
	  transition: opacity 0.5s ease-in-out;
	}

	.card-glass:hover .card-body {
		opacity: 1;
	}

}

/************* RELATED BLOG POSTS ***************/

div.relatedthumb  {
	max-width: 340px;
	height: 170px;
	clear: both;
	margin-bottom: 30px;
	margin: 0 !important;
}

.yuzo_related_post_widget .relatedthumb{  
	margin: 0px!important;   
}

div.relatedthumb a {
	display: block;
	max-width: 340px;
	height: 140px;
	overflow: hidden;
}

.yuzo_widget_wrap h3.widget-title {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

div.yuzo-img-wrap {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 140px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.yuzo-img {
	width: 100%;
	height: 140px;
}

div.yuzo-img-wrap + div {
	background: rgba(0,0,0,0.35);	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	z-index: 4;
	height: 140px;
	max-width: 340px;
	vertical-align: bottom;
	color: #fff;
	padding: 70px 15px 15px 15px;
	text-align: center;
}

div.yuzo-img-wrap + div:hover {
	background: rgba(0,0,0,0.3);
}


/************ SEARCH **********/

#form-search-input {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	min-height: 44px;
	height: 44px;
	line-height: 90%;
}

.call-to-us a {
    color: #f3c649 !important;
}

.flex-fill-bs {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.flex-fill-bs-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.grecaptcha-badge{
visibility: hidden;
}
@media (max-width: 575px) {
#main-header h1.text-right {
text-align:center !important;
}
}

.ew-block-text-image {
  padding: 50px 0;
}

.ew-block-text-image__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
}

.ew-block-text-image__title::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #00834e;
  margin: .5em auto;
}

@media (max-width: 575px) {
  .ew-block-text-image__title {
    font-size: 30px;
  }
}

.ew-block-text-image__link {
  background: #007646;
  border-color: #007646;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  color: #ffffff !important;
}

.ew-block-text-image__text {
  text-align: left;
}

.rll-youtube-player img{
  margin: auto!important;
}
img.flat_thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
div#footer-cta-wrapper {
    display: flex;
    flex-direction: column;
}