.anual-hero {
  position: relative;
  height: 37.5vw;
  min-height: 30rem;
}

.page-header__current {
  display: none;
}

.anual-hero__text-block {
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);  
}

.anual-hero__text-block h1,
.anual-hero__text-block p {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  line-height: 1;
}

.anual-hero__text-block h1 {
  font-family: 'Tungsten-Black', sans-serif;
  margin: 0 0 12px;
  font-size: 8.5vw;
  font-weight: normal;
  letter-spacing: 4px;
}


.anual-hero__text-block p {
  font-family: 'TTNorms', sans-serif;
  font-weight: 900;
  margin: 0;
  font-size: 3.2vw;
  letter-spacing: 2px;
}

.anual-hero__title-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.anual-hero__title {
  background-color: #EE3741;
  text-transform: uppercase;
  font-family: 'TTNorms', sans-serif;
  font-weight: bold;
  font-style: italic;
  
  font-size: 1.8vw;
  color: #fff;
  padding: 2.6vw 6.5vw;
}

.anual-hero__title span {
  display: block;
  text-align: center;
}

.opportunities {
  padding-top: 21.5rem;
}

.opportunities__list {
  margin-top: 5rem;
  margin-bottom: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 82vw;
  margin-left: auto;
  margin-right: auto;
}

.opportunities__item {
  width: 42.7rem;
  height: 42.7rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0,0,0, 0.2);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
}

.opportunities__item:hover {
  -webkit-transform: translateY(-1rem) !important;
          transform: translateY(-1rem) !important;
  transition-delay: 0s !important;
  box-shadow: 0 6px 10px 3px rgba(0, 0, 0, 0.5);
}

.opportunities__item-icon {
  margin-bottom: 4rem;
}

.opportunities__item-text {
  font-family: 'TTNorms', sans-serif;
  font-weight: bold;
  color: #484C55;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 3rem;
}

.opportunities__item-text--red {
  color: #ED3741;
}

.opportunities__item-value {
  font-family: 'TTNorms', sans-serif;
  font-weight: 800;
  color: #ED3741;
  font-size: 8rem;
}

.opportunities__item-value  + .opportunities__item-text {
  margin-top: 3rem;
  margin-bottom: 0;
}

.section-title {
  font-weight: 800;
  font-size: 44px;
  text-align: center;
  color: #484C55;
}

.section-title--small {
  font-size: 30px;
}

@media only screen and (max-width: 1650px) {
  .opportunities__list {
    width: 86vw;
  }

  .opportunities__item {
    width: 35rem;
    height: 35rem;
  }

  .opportunities__item-icon {
    margin-bottom: 3rem;
  }
  
  .opportunities__item-text {
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }
  
  .opportunities__item-value {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 1365px) {
  .opportunities {
    padding-top: 15rem;
  }

  .opportunities__list {
    width: 98vw;
    justify-content: space-around;
    margin-bottom: 10rem;
  }

  .opportunities__item {
    width: 30rem;
    height: 30rem;
  }

  .opportunities__item-icon {
    margin-bottom: 3rem;
  }
  
  .opportunities__item-text {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  
  .opportunities__item-value {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 991px) {
  .opportunities {
    padding-top: 10rem;
  }

  .opportunities__list {
    margin-bottom: 8rem;
  }

  .section-title {
    font-size: 30px;
  }

  .section-title--small {
    font-size: 24px;
  }

  .opportunities__item {
    width: 24rem;
    height: 24rem;
  }

  .opportunities__item-icon {
    margin-bottom: 2rem;
    width: 4rem;
    height: 4rem;
  }
  
  .opportunities__item-text {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }
  
  .opportunities__item-value {
    font-size: 4rem;
  }
  
  .anual-hero__text-block h1 {
    font-size: 12vw;
  }
  
  .anual-hero__title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .opportunities {
    padding-top: 8rem;
  }
  
  .opportunities__list {
    margin-bottom: 6rem;
  }

  .section-title {
    font-size: 26px;
  }

  .section-title--small {
    font-size: 16px;
  }

  .opportunities__list {
    flex-direction: column;
  }

  .opportunities__item {
    margin-bottom: 3rem;
  }
}

.industry-specs {
  position: relative;
}

.graph-section {
  background-color: #F5F7F8;
  padding-top: 7rem;
  margin-top: 6rem;
  padding-bottom: 19rem;
  position: relative;
}

.graph-section__graph {
  background: url(../img/anual-page/graph.svg) center 100% no-repeat;
  background-size: contain;
  width: 116rem;
  margin: 6.6rem auto 0;
  height: 37.4rem;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.graph-section__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-section__col-value {
  width: 20rem;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 0;
} 

.graph-section__col-value span {
  font-weight: 900;
  font-size: 35px;
  color: #fff;
}

.graph-section__col-title {
  color: #484C55;
  text-align: center;
  display: block;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 2rem;
}

.graph-section__dots {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  list-style: none;
  font-size: 0;
  display: flex;
}

.graph-section__dots button {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #9BACB5;
  margin: 0 12px;
  cursor: pointer;
}

.graph-section__dots .slick-active button {
  background-color: #90D1C8;
}

.graph-section__prev,
.graph-section__next {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 50%;
  opacity: 0.8;
  transition: .2s ease;
}

.graph-section__prev.slick-disabled,
.graph-section__next.slick-disabled {
  display: none!important;
}

.graph-section__prev:hover,
.graph-section__next:hover {
  opacity: 1;
}

.graph-section__prev {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  left: 4.5vw;
}

.graph-section__next {
  -webkit-transform: translate(0, 50%) rotate(180deg);
          transform: translate(0, 50%) rotate(180deg);
  right: 4.5vw;
}

@media only screen and (max-width: 1365px) {
  .graph-section {
    padding-bottom: 15rem;
  }

  .graph-section__col-value {
    width: 120px;
  }

  .graph-section__col-title {
    font-size: 20px;
  }
  
  .graph-section__graph {
    width: 770px;
    height: 250px;
  }

  .graph-section__col-value span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .graph-section {
    padding-top: 5rem;
    margin-top: 4rem;
    padding-bottom: 10rem;
  }

  .graph-section__col-value {
    width: 100px;
  }

  .graph-section__col-title {
    font-size: 14px;
  }
  
  .graph-section__graph {
    width: 616px;
    height: 200px;
  }

  .graph-section__col-value span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .graph-section__prev,
  .graph-section__next {
    display: none!important;
  }
}

@media only screen and (max-width: 640px) {
  .graph-section__graph {
    width: 320px;
    height: 100px;
  }

  .graph-section__col-value {
    width: 50px;
  }

  .graph-section__col-title {
    font-size: 8px;
  }

  .graph-section__col-value span {
    font-size: 12px;
  }
}

.section-number-deals {
  background: transparent;
  min-height: 38.6vw;
  border-bottom: 3rem solid #9bacb5;
  padding-top: 7vw;
  padding-bottom: 2vw;
}

.number-deals__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

@media only screen and (max-width: 991px) {
  .number-deals__wrapper .opportunities__item {
    margin-bottom: 0;
  }

  .number-deals__wrapper {
    padding-top: 4rem;
  }
}

/* MARKED EXPERIENCE SECTION */
.section-marked-exp {
  padding-top: 29rem;
  padding-bottom: 18rem;
  position: relative;
  background-color: #fff;
}

.section-marked-exp .hendo-logo-light {
  position: absolute;
  top: 17.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-text {
  font-weight: 400;
  font-family: 'TTNorms', sans-serif;
  color: #484C55;
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: center;
  width: 80%;
  margin: 5rem auto 5rem;
  max-width: 1042px;
}

.plus-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1364px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 14rem;
  margin-top: 7rem;
  overflow-x: hidden;
}

.plus-block__item {
  background-color: #90d1c8;
  padding: 2rem 4rem;
  width: 45.3rem;
  min-height: 45.3rem;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  transition: all 0.1s ease-in-out;
}

.plus-block__item:hover {
  -webkit-transform: translateY(-1rem) !important;
          transform: translateY(-1rem) !important;
  transition-delay: 0s !important;
  box-shadow: 0 6px 10px 3px rgba(0, 0, 0, 0.5);
}

.plus-block__item-title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 2rem;
  color: #fff;
  display: block;
  text-align: center;
}

.plus-block__item-text {
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: normal;
  color: #fff;
  display: block;
  text-align: center;
}

.plus-block__icon {
  width: 6.1rem;
  height: 6.1rem;
}

.animation-container--colored {
  width: 49.4rem;
  height: 9.22rem;
  margin: 0 auto;
  margin-top: 8rem;
}

@media only screen and (max-width: 1365px) {
  .section-text  {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .plus-block__item {
    width: 35rem;
    min-height: 35rem;
    padding: 2rem 3rem;
  }  

  .plus-block__item-title,
  .plus-block__item-text {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 991px) {
  .section-marked-exp {
    padding-top: 20rem;
    padding-bottom: 10rem;
  }
  
  .section-marked-exp .hendo-logo-light {
    top: 10rem;
    width: 22rem;
  }

  .section-text  {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .plus-block__item {
    width: 30rem;
    min-height: 30rem;
    padding: 2rem;
  }  

  .plus-block__item-title,
  .plus-block__item-text {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

@media only screen and (max-width: 767px) {

  .plus-block {
    flex-direction: column;
  }

  .plus-block__plus-icon {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .animation-container--colored {
    width: 30rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: 8rem;
  }
}

.section-industry-focus-img {
  height: 35vw;
  min-height: 30rem;
}

.section-industry-focus {
  padding-bottom: 8rem;
}

.section-text-block {
  width: 80%;
  margin: 0 auto;
  max-width: 1331px;
  padding-top: 5rem;
  padding-bottom: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0,0,0, 0.2);
  background-color: #fff;
}

.section-industry-focus-img + .section-text-block {
  margin-top: -12rem;
}

.section-icon {
  margin-bottom: 5rem;
}

.partners-block {
  display: flex;
  width: 80%;
  margin: 0 auto;
  max-width: 1331px;
  padding: 8rem 5rem;
  align-items: center;
  box-shadow: 0 0 5px rgba(0,0,0, 0.2);
  background-color: #fff;
  margin-top: 11.5rem;
  min-height: 59rem;
}

.partners-block > * {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partners-block__text-lead {
  font-weight: bold;
  font-size: 2.9rem;
  line-height: 3.5rem;
  color: #ed3741;
  text-align: center;
  margin-bottom: 1rem;
  max-width: 100%;
}

.partners-block__text {
  font-weight: normal;
  font-size: 2.9rem;
  line-height: 4.5rem;
  color: #484c55;
  text-align: center;
  max-width: 100%;
}

.partners-block__logos > * {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.partners-block__logo-item {
  position: relative;
  cursor: pointer;
}

.partners-block__partner-descr {
  display: none;

  position: fixed;
  top: 50%;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  
  padding: 10rem 2rem;
  background-color: rgba(72, 76, 85, 0.8);
  color: #fff;
  text-align: center;
  width: 45rem;
  font-size: 2.9rem;
  line-height: 4.5rem;
  z-index: 1;
}

.partners-block__partner-descr-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 2.1rem;
  height: 2.1rem;
  background: url(../img/anual-page/close-icon.svg) center no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 1366px) {
  .section-text-block {
    padding-bottom: 8rem;
  }

  .partners-block {
    padding: 8rem 5rem;
    margin-top: 8.5rem;
    min-height: 40rem;
  }
  
  .partners-block__text-lead {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }

  .partners-block__partner-descr {
    font-size: 2.4rem;
    line-height: 3.5rem;
    width: 40rem;
  }
  
  .partners-block__text {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
  
  .partners-block__logos > * {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 991px) {
  .section-text-block {
    padding-bottom: 5rem;
  }

  .section-icon {
    height: 5rem;
    width: 5rem;
  }

  .partners-block {
    padding: 5rem 3rem;
    margin-top: 7rem;
    min-height: 30rem;
  }
  
  .partners-block__text-lead {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .partners-block__partner-descr {
    font-size: 2rem;
    line-height: 2.6rem;
    width: 35rem;
    padding: 6rem 2rem;
  }
  
  .partners-block__text {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  
  .partners-block__logos > * {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 12rem;
  }
}

@media only screen and (max-width: 767px) {
  .section-text-block {
    padding-bottom: 2rem;
    width: 90%;
  }

  .section-text-block .section-text {
    width: 90%;
  }

  .section-icon {
    margin-bottom: 2rem;
  }

  .section-text {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .partners-block {
    width: 90%;
  }

  .partners-block__partner-descr {
    width: 30rem;
    padding: 6rem 2rem;
    min-height: none;
    height: auto;
  }

  .section-industry-focus {
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 650px) {
  .partners-block {
    flex-direction: column;
  }

  .partners-block > * {
    width: 100%;
  }

  .partners-block__text-lead {
    margin-bottom: 2rem;
  }

  .partners-block__logos {
    order: 2;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
  }

  .partners-block__logos > * {
    margin: 0;
    width: 10rem;
  }
}